﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application is designed to help manage teams from different leagues and sports disciplines.</p>
    <img src="images/d7e0dece1437a3e9d61393b38ef48b74.jpg" alt="Sample Photo" width="33%" heilght="33%" />
    <img src="images/61F-Epj6A9L._SX425_.jpg" alt="Sample Photo" width="33%" heilght="33%" />
    <img src="images/MS1027957-inset2.jpg" alt="Sample Photo" width="33%" heilght="33%" />
</div>